.logo {
  max-width: 150px;
  margin: 0 auto;
}
.upside {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 23, 24, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
}

footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 23, 24, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

#canvas {
  width: 100%;
}
